<footer class="page-footer orange">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">关于我们</h5>

                <p class="grey-text text-lighten-4">本项目正在开发中,已经收集了xxx个网址.仅作为Tornado学习记录.</p>


            </div>
            <div class="col l3 s12">
                <h5 class="white-text">友情链接</h5>
                <ul>
                    <li><a class="white-text" href="#!">Link 1</a></li>
                    <li><a class="white-text" href="#!">Link 2</a></li>
                    <li><a class="white-text" href="#!">Link 3</a></li>
                    <li><a class="white-text" href="#!">Link 4</a></li>
                </ul>
            </div>
            <div class="col l3 s12">
                <h5 class="white-text">联系</h5>
                <ul>
                    <li><a class="white-text" href="#!">My Blog</a></li>
                    <li><a class="white-text" href="#!"></a></li>
                    <li><a class="white-text" href="#!"></a></li>
                    <li><a class="white-text" href="#!"></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            Made by <a class="orange-text text-lighten-3" href="http://materializecss.com">Dubuqingfeng</a>
        </div>
    </div>
</footer>


<!--  Scripts-->
<!--<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>-->
<script src="{{ static_url('js/jquery-2.1.4.min.js') }}"></script>
<script src="{{ static_url('js/init.js') }}"></script>
<script src="{{ static_url('js/materialize.js') }}"></script>
</body>
</html>
